<!------------------------image1-------------------------------->
<div class="container-fluid" >
      <img src="assets/img1.png" class="img-fluid" alt="logo" >
      <div class="texte_centrer1 "><b><h1>livraison Gratuite</h1></b>
      <h3>pour toute commande plus de 60dt</h3>
      
    </div>
    <div class="texte_centrer"><button type="button"  class="btn btn-link text-white-color green pr-3 pl-3 cursor-pointer"(click)="gotocontact()">contactez-nous</button></div>
</div>
<!------------------------------2 image et para1------------------------------------>
<div class="jumbotron " style="margin-bottom: 0px; ">
    <div class="row" style="
    width: 1079px;
">
      <div class="col-12 col-md-6 p-0">
        <img src="assets/p1.jpg" class="img" alt="logo">
      </div>
      <div class="col col-md-6 p-0">
        <img src="assets/p22.jpg" class="img" alt="logo" >
      </div>
    </div>
    <div class="row" style="
    width: 1079px;
">
      <h2 class="Titre_a_change1">
        <font color="#5a3715">
          Titre_a_change
        </font>
      </h2>
        <p  class="para1 text-center h5 p-2 pt-5 pt-md-0"><font size="3">lorem ipusm dolor sit amet,
          consectetur adipiscing elit . integer ullamcorper , metus at rhoncus maximus ,
          tortor felis tincidunt eros , et volutpat purus eros ut neque . mauris iaculis massa temus,aliquet urna quis,
          gravida ante. nullam imperdiet eleifend libero , sed sodales leo ultricies a .
          <br><br>
          cras elementum sit amet odio eget fravida. donec sed felis id libero tincidunt fringilla .
          quisque hendrerit ipusm eros , nec tincidunt metus fermentum a . proin eleifend risus nisi , sit amet tempor
          nulla luctus vel . cras mattis mollis orci , blandit tristique velit varius quis .class aptent taciti sociosqu
          ad litora .
        </font></p>
      <div class="text-center h6 pt-xl-4 pb-5">
      <button type="button"  class="  btn btn-link text-white-color green pr-3 pl-3 cursor-pointer"(click)="gotocontact()" style="margin-left: 300px;">contactez-nous</button>
    </div>
 </div>
</div>
 <!------------------------------image et para2-------------------------------------------------->
 
  <div class="container-fluid" style=" padding-left: 0px; padding-right: 0px;height: 376px;">
    <img src="assets/2ndimg.png" class="img-fluid1" alt="logo" >
    
    <div class=" titre_a_change2 "><font size="7">Titre_a_change</font>
      <div class="para2" >
        <h6>
       <p style="margin-top: 50px;"><font size="3">lorem ipusm dolor sit amet, consectetur adipiscing elit . integer ullamcorper , metus at rhoncus maximus ,
        tortor felis tincidunt eros , et volutpat purus eros ut neque . mauris iaculis massa temus,aliquet urna
        quis, </font></p>
        </h6>
      </div>
    </div>
    <div class="text-center h6 pt-xl-3 pb-5">
    <button type="button"  class="bn btn btn-link text-white-color green pr-3 pl-3 cursor-pointer"(click)="gotocontact()">contactez-nous</button></div>
</div>
<!---------------------------------------------jumbo+ navbar gris + cards ------------------------------------------------------>
<div class="jumbotron " style="margin-bottom: 0px; height:1200px;">
  <b>
 <h3>
  <font color="#5a3715" class="notre-produit"> Notre produit </font>
  </h3>
 </b> 

 <nav class="navbar navbar-default"  style="background-color: #dedede;margin-left: 30px;">
  <div class="container-fluid"style="padding-right: 0px; height: 49px;">
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" >
      <ul class="nav navbar-nav " style="padding-top: 15px;">
         <li>[44 articles]</li></ul>
         <ul class="nav navbar-nav navbar-right" >
          
         <li><button class="btn-change btn btn-outline-success my-2 my-sm-0" type="submit" style=" height: 52px; ">Morinex</button></li>
         <li><button class=" btn-change btn btn-outline-success my-2 my-sm-0" type="submit"style=" height: 52px;">Naturex</button></li>
         <li><button class=" btn-change btn btn-outline-success my-2 my-sm-0" type="submit"style=" height: 52px;">Promo</button></li>
         <li><button class=" btn-change btn btn-outline-success my-2 my-sm-0" type="submit"style=" height: 52px;">tous les produits</button></li>
          
        </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="row" style="margin-left: 300px;width: 755px;">
  <div class="card-group" >
    <div class="  col-md-4 " *ngFor="let produit of produits" style="height: 302px; width: 248px;padding-right: 0px;">
      <div class="card h-100 "style="width: 232px;height: 286px;">
        <div class="card-img-overlay" class="position-relative" style="height: 188px;">
          <img [src]="produit.srcLink" class="card-img h-100" style="width: 232px;">
          <div class="position-absolute-right text-white" style=" right:0; background-color :#5a3715;width: 232px; color: white;padding-left: 15px;">Détail de l'offre</div>
          <div class="position-absolute text-white" style="bottom:0; left:0;background-color:#496e1c; width: 232px; color: white;padding-left: 15px;">
          8.20€</div>
        </div>
        <div class="row" style="margin-left: 0px;margin-right: 0px;margin-top: 40px;">
        <div class="card-body " style=" background-color: #dbdbdb;">
         <p class="text-center"style="margin-bottom: 0px;height: 42 px;height: 34px;"><font size="2">{{produit.name}}</font>
        </p>
        <div class="row" style="  margin-left: 0px;   margin-right: 0px; ">
        <div class="col-md-6"style="  padding-left: 0px;   padding-right: 0px; " >
          <div class="bg2" style="background-color:#5a3715;width: 67px;">
        <img _ src="assets/panier2.jpg" alt="logo" routerlink="/cart"class="icon chariot" tabindex="0" style="margin-left: 17px;"></div>
        </div>
         <div class="col-md-6"style="padding-left: 0px;padding-right: 0px;left: -30;right: 49px;">
          <button class="btn1"style="
          border-top-width: 0px;
          border-left-width: 0px;
          border-bottom-width: 0px;
          border-right-width: 0px;
          width: 165px;
          height: 24px;
          padding-top: 1px;
          margin-top: 0px;
          margin-bottom: 0px;background-color:#7ba829;">
          Ajouter Au panier</button>
         </div>
      </div>
         </div>
        </div>  
      </div>
    </div>
  </div>
</div>
<div class="text-center  "style="margin-right: 0px;margin-left: 600px;">
<a class="nav-link   " routerLink="/produit" style="color:black; padding-left: 0px;">voir tous les produits</a></div>



</div>
<!-------------------------------------------lastpic ----------------------------------------->
<div class="container-fluid" style=" padding-left: 0px; padding-right: 0px;height: 500px;">
  <img src="assets/lastpic.png" class="img-fluid3" alt="logo" >
  
  <div class=" titre_a_change3 "><b><h1>Titre_a_change</h1></b>
    <div class="para3" >
      <h6>
     <p style="margin-top: 50px;"><font size="3">lorem ipusm dolor sit amet, consectetur adipiscing elit . integer ullamcorper , metus at rhoncus maximus ,
      tortor felis tincidunt eros , et volutpat purus eros ut neque . mauris iaculis massa temus,aliquet urna
      quis, </font></p>
      </h6>
    </div>
  </div>
  <div class="text-center h6 pt-xl-3 pb-5">
  <button type="button"  class="bn1 btn btn-link text-white-color green pr-3 pl-3 cursor-pointer"(click)="gotocontact()">contactez-nous</button></div>
</div>
<!------------------------------------jumbo brown + 2 image----------------------------------------->
<div class="jumbotron "
    style="padding-top: 0px; border-top-width: 64px; height: 350px; margin-bottom: 0px; background-color: #5a3715;">
    <table class="table">
      <tr>
        <th style="width: 360px;"><img src="assets/femme.jpg" style="margin-bottom: 0px;margin-top: 40px;margin-right: 0px;margin-left: 150px;">
        </th>
        <th style="width: 360px;">
         <h3 style="margin-top: 50px; text-align: center!important; ">
            <p class="text-left"><font color="#fff">Titre_a_change</font></p>
         </h3>
         
        <h6>
        <p class="text-left" style="color: white; width: 200px;">
          <font size="2">lorem ipusm dolor sit amet, consectetur adipiscing elit . integer ullamcorper , metus at
                  rhoncus maximus ,
                  tortor felis tincidunt eros , et volutpat purus eros ut neque . mauris iaculis massa temus,aliquet
                  urna quis,</font>
        </p>
         </h6>
        </th>
        <th style="width: 250px;">
          <img src="assets/bebe.jpg" style=" margin-top: 40px;">
        </th>
        <th style="width: 450px;">
        <h2 style="margin-top: 50px;text-align: center!important; ">
           <p class="text-left"><font color="#fff" size="5">Titre_a_change</font>
            </p>
        </h2>
        
        <h6>
        <p class="text-left" style="color: white; width: 200px;">
        <font size="2">lorem ipusm dolor sit amet, consectetur adipiscing elit . integer ullamcorper , metus at
                  rhoncus maximus ,
                  tortor felis tincidunt eros , et volutpat purus eros ut neque . mauris iaculis massa temus,aliquet
                  urna quis,</font>
        </p>
        </h6>
        </th>
      </tr>
    </table>
  </div>