.img-fluid{
     height: 570px; width: 1349px; margin-left: -15px;
}
.texte_centrer1{
    position:absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    size: 30px;
    color: white;
    width: 447px;
    text-align: center!important;
    top: 350px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.texte_centrer{
    position:absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    size: 30px;
    color: white;
    width: 447px;
    text-align: center!important;
    top: 450px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
[type=button] {
    background: #7ba829;
    border: 0px;
    color: #fff;
  }
  .img{
    width: 398px; height: 218px; padding-left: 0px; margin-left: 150px;margin-bottom: 0px; margin-top: -150px;
  }
  .col-12{
    left: 110px;
  }
  .col{
    right: 0px;
  }
  .Titre_a_change1{
    position:absolute;
    top: 870px;
    left:600px;
    transform: translate(-30%,-30%);
    size: 30px;
    width: 447px;
    text-align: center!important;
    
    
  }
  .para1{
    
    left:600px;
    text-align: center!important;
    width: 795px;
    margin-top: 100px;
    margin-left: 300px;
  }
  .bn0{
    position:absolute;
    top: 1150px;
    left:660px;
    transform: translate(-30%,-30%);
    
    color: white;
    
    text-align: center!important;
    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
.img-fluid1{
  height: 377px;
  width: 1349px;
}

.titre_a_change2{
  position:absolute;
  top: 1320px;
    left:590px;
    transform: translate(-30%,-30%);
    size: 30px;
    color: white;
    width: 447px;
    text-align: center!important;
    
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.bn{
  position:absolute;
    top: 1520px;
    left:640px;
    transform: translate(-30%,-30%);
    
    color: white;
    
    text-align: center!important;
    
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
.img-fluid3{
  height: 500px;
  width: 1349px;
}
.titre_a_change3{
  position:absolute;
    top: 2950px;
    left:300px;
    transform: translate(-30%,-30%);
    size: 30px;
    color: #5a3715;
    width: 447px;
    text-align: center!important;
    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.para3{
  color: black;
}
.bn1{
  position:absolute;
    top: 3130px;
    left:350px;
    transform: translate(-30%,-30%);
    
    color: white;
    
    text-align: center!important;
    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.notre-produit{
  position:absolute;
  top: 1615px;
  left:580px;
  transform: translate(-30%,-30%);
  size: 30px;
  color: #5a3715;
  width: 447px;
  text-align: center!important;
  
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.navbar-default{
  margin-bottom: 0px;
    width: 756px;
    left: 270px;
}
.btn-change{
background-color: #dedede;
 Color:black;
 font-weight: bold;
padding: 10px 40px;
border-radius: 3px;
cursor: pointer; 
text-decoration: none;
transition: background-color 1s;
padding-right: 20px;padding-left: 20px;  
 }
 .btn-change:hover {
  background-color: #517328;
  color: #dedede;
}             
                  
