
.brown-background {
    background-color: #517328;;
    height: 60px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 16px;
    padding-bottom: 16px;
    margin-bottom: 0px;
    
}
.navbar-expand-md { 
    flex-flow: row nowrap;
    justify-content: flex-start;
}