
<div class="jumbotron " style="height: 220px;background-color: #517328;margin-top: -10;margin-bottom: 0px;padding-top: 20px;padding-bottom: 20px;">
    <div class="container" style="padding-top: 0px;width: 1104px;">
      <table class="table">
        <tr>
          <th style=" border-top-width: 0px; padding-right: 20px;">
            <img src="assets/herba.webp" style="margin-bottom: 0px;margin-top: 0px;margin-right: 0px;margin-left: 0px;height: 74px; ">
          </th>
          <th style="border-top-width: 0px;padding-right: 15px;">
            
              <h2>
                <p class="text-left">
                  <font color="#fff" size="3">Coordonnées</font>
                </p>
              </h2>
            
            
              <h6>
                <p class="text-left" style="color: white;">
                  <font size="2">
                    Adresse: Route Gremda Km 7 Sfax
                    Téléphone: 56.04.00.75
                    Email: herbabio.tunisie@gmail.com
                  </font>
                </p>
              </h6>
            
          </th>
          <th style="border-top-width: 0px;width: 145px;padding-right: 15px;">
            
              <h2>
                <p class="text-left">
                  <font color="#fff" size="3"> Horaire</font>
                </p>
              </h2>
           
              <h6>
                <p class="text-left" style="color: white;">
                  <font size="2">

                    Du lundi au Samedi
                    de 8:00h à 12:00h et de 14:00h à 18:00h
                  </font>
                </p>
              </h6>
            
          </th>
          
          <th style="border-top-width: 0px; padding-right: 15px;">
           
              <h2>
                <p class="text-left">
                  <font color="#fff" size="3">Avez-vous des questions?</font>
                </p>
              </h2>
            
              <h6>
                <p class="text-left" style="color: white;">
                  <font size="2">
                    Ecrivez-nous un message,
                    nous serons ravis de pouvoir vous apporter notre aide!
                  </font>
                </p>
              </h6>
            
          </th>
          <th style="border-top-width: 0px;">
            <button type="button"  style="background-color: #5a3715; color: white;" class="btn btn-link text-white-color green pr-3 pl-3 cursor-pointer"(click)="gotocontact()">contactez-nous</button>
          </th>



        </tr>
      </table>
  </div>
  </div>
  <nav  class="navbar navbar-expand-md navbar-light brown-background nav p-md-3" >
    <div class="collapse navbar-collapse" id="navbarNav" style="justify-content: center;">
      <ul class="navbar-nav " style="margin-left: 300px;">
        <li class="nav-item active">
                <a class="nav-link  " routerLink="accueil" style="color: ghostwhite; padding-left: 0px; text-decoration: none;">Accueil</a>
        </li>
        <li class="nav-item">
                <a class="nav-link" routerLink="produit" style="color: ghostwhite; padding-left: 50px;text-decoration: none;">Produits</a>
        </li>
        <li class="nav-item">
         <a class="nav-link" routerLink="conseil"style="color: ghostwhite;padding-right: 0px;padding-left: 30px;padding-bottom: 0px;text-decoration: none;">Conseils Beauté</a>
        </li>
        <li class="nav-item">
             <a class="nav-link" routerLink="avantage" style="color: ghostwhite;padding-right: 0px;padding-left: 50px;padding-bottom: 0px;text-decoration: none;">Avantages E-Boutique</a>
        </li>
        <li class="nav-item">
             <a class="nav-link" routerLink="contact"  style="color: ghostwhite;padding-left: 50px;padding-bottom: 0px;text-decoration: none;">Nous Contacter</a>
        </li>
      </ul>
    </div>
  </nav>