.background {
    background-image: url(https://res.cloudinary.com/http-next-ioc-tn/image/upload/f_auto/v1630055234/page-header_swig9b.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 100%;

    height: 600px;
    
  }
  .bg-light-color {
    background-color: #f6f6f6;
}
  .font-green3 {
    color: #517328;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 60px;

  }
  

.btn-change {
    
    color:black;
    background-color: none;
    border: 1;
    
    transition: background-color 1s;
    border-radius: 3px;

}
.btn-change:hover {
    background-color: #7ba829;
    color: white;
}
.mt-2, .my-2 {
    margin-top: .5rem!important;
}
.rounded-pill {
    border-radius: 50rem!important;
}
.justify-content-end {
    justify-content: flex-end!important;
}
.d-md-flex {
    display: flex!important;
}
