<!--------------------------background + titre+button ---------------------------->
<div class="content-container bg-light-color" style="height: 1130px;">
    <div class="background  " >
      <div class="container pt-3 ">
        <div class="h1 font-weight-bold font-green3 text-center mt-4 mb-5"><h1><b>Nos Produits</b></h1></div>
        <div class="container"style="margin-right: 0px;width: 1025px; margin-top: 30px;">
            <div class="d-md-flex d-sm-block justify-content-end mb-3 pt-md-3"style="width: 971px;height: 54px;">
                <div class="d-sm-block d-lg-flex d-md-flex"style="width: 401px;">
                    <a class="mb-2 mr-2" style=" height: 50px;width: 90px;">
                        <button class=" rounded-pill border-dark mt-2 btn-change"style="height: 38px;width:85px;">
                           <div class="text-size">Morinex</div>
                        </button>
                    </a>
                    <a class="mb-2 mr-2"style=" height: 50px;width: 90px;">
                        <button class=" rounded-pill border-dark mt-2 btn-change"style="height: 38px;width:85px;">
                           <div class="text-size">Naturex</div>
                        </button>
                    </a>
                    <a class="mb-2 mr-2"style=" height: 50px;width: 90px;">
                        <button class=" rounded-pill border-dark mt-2 btn-change"style="height: 38px;width:85px;">
                           <div class="text-size">Promo</div>
                        </button>
                    </a>
                    <a class="mb-2 mr-2"style=" height: 50px;width: 90px;">
                        <button class=" rounded-pill border-dark mt-2 btn-change"style="height: 38px;width: 130px;">
                           <div class="text-size">tous les produits</div>
                        </button>
                    </a>
                </div>
            </div>
        </div>
        <div class="row" style="margin-left: 170px;width: 755px;">
            <div class="card-group" >
              <div class="  col-md-4 " *ngFor="let produit of produits" style="height: 302px; width: 248px;padding-right: 0px;">
                <div class="card h-100 "style="width: 232px;height: 286px;">
                  <div class="card-img-overlay" class="position-relative" style="height: 188px;">
                    <img [src]="produit.srcLink" class="card-img h-100" style="width: 232px;">
                    <div class="position-absolute-right text-white" style=" right:0; background-color :#5a3715;width: 232px; color: white;padding-left: 15px;">Détail de l'offre</div>
                    <div class="position-absolute text-white" style="bottom:0; left:0;background-color:#496e1c; width: 232px; color: white;padding-left: 15px;">
                    8.20€</div>
                  </div>
                  <div class="row" style="margin-left: 0px;margin-right: 0px;margin-top: 40px;">
                  <div class="card-body " style=" background-color: #dbdbdb;">
                   <p class="text-center"style="margin-bottom: 0px;height: 42 px;height: 34px;"><font size="2">{{produit.name}}</font>
                  </p>
                  <div class="row" style="  margin-left: 0px;   margin-right: 0px; ">
                  <div class="col-md-6"style="  padding-left: 0px;   padding-right: 0px; " >
                    <div class="bg2" style="background-color:#5a3715;width: 67px;">
                  <img _ src="assets/panier2.jpg" alt="logo" routerlink="/cart"class="icon chariot" tabindex="0" style="margin-left: 17px;"></div>
                  </div>
                   <div class="col-md-6"style="padding-left: 0px;padding-right: 0px;left: -30;right: 49px;">
                    <button class="btn1"style="
                    border-top-width: 0px;
                    border-left-width: 0px;
                    border-bottom-width: 0px;
                    border-right-width: 0px;
                    width: 165px;
                    height: 24px;
                    padding-top: 1px;
                    margin-top: 0px;
                    margin-bottom: 0px;background-color:#7ba829;">
                    Ajouter Au panier</button>
                   </div>
                </div>
                   </div>
                  </div>  
                </div>
              </div>
            </div>
          </div>
          
      </div>
    </div>
</div>
