<!-------------------------------navbar white--------------------------------------------->
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <img alt="Brand"
                    src="https://res.cloudinary.com/http-next-ioc-tn/image/upload/f_auto/v1630059581/herbabio_psvqn3.png"
                    height="80">
            </a>
            <div class="d-flex mr-lg-5 text-center mode-moblie1">
                <a href="https://www.facebook.com/herbabio">
                    <img class="fb" src="https://www.herbabio.tn/assets/faceb.png">
                </a>
                <a href="https://www.instagram.com/herbabio.tn">
                    <img src="https://www.herbabio.tn/assets/insta.png" width="auto" height="auto">
                </a>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Rechercher" aria-describedby="basic-addon2">
                    <span class="input-group-addon" id="basic-addon2"><span class="glyphicon glyphicon-search"
                            aria-hidden="true"></span></span>
                </div>
                <span aria-hidden="true" class="ch">
                    <img src="https://www.herbabio.tn/assets/cart3.svg">
                </span>
            </div>
        </div>
    </div>
</nav>
<!--------------------------------------navbar brown------------------------------------------>
<nav  class="navbar navbar-expand-md navbar-light brown-background nav p-md-3" >
    <div class="collapse navbar-collapse" id="navbarNav" style="justify-content: center;">
      <ul class="navbar-nav " style="margin-left: 300px;">
        <li class="nav-item active">
                <a class="nav-link  " routerLink="accueil" style="color: ghostwhite; padding-left: 0px; text-decoration: none;">Accueil</a>
        </li>
        <li class="nav-item">
                <a class="nav-link" routerLink="produit" style="color: ghostwhite; padding-left: 50px;text-decoration: none;">Produits</a>
        </li>
        <li class="nav-item">
         <a class="nav-link" routerLink="conseil"style="color: ghostwhite;padding-right: 0px;padding-left: 30px;padding-bottom: 0px;text-decoration: none;">Conseils Beauté</a>
        </li>
        <li class="nav-item">
             <a class="nav-link" routerLink="avantage" style="color: ghostwhite;padding-right: 0px;padding-left: 50px;padding-bottom: 0px;text-decoration: none;">Avantages E-Boutique</a>
        </li>
        <li class="nav-item">
             <a class="nav-link" routerLink="contact"  style="color: ghostwhite;padding-left: 50px;padding-bottom: 0px;text-decoration: none;">Nous Contacter</a>
        </li>
      </ul>
    </div>
  </nav>
  