
.navbar{
    background-color: #fff;
    height: 90px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-top-width: 0px;
    border-right-width: 0px;
}
.navbar-brand{
    padding-bottom: 5px;
    padding-top:  5px;
    height: 80px;
    width: 254px;
    padding-left: 0px;
    padding-right: 0px;
}
.navbar-header{
    margin-left: 250px;
}
.container-fluid{
    width: 1089px;
    height: 90px;
}
.input-group{  
    top: 8px;
    height: 35px;
}
.form-control{
    background-color: #dedede;
}
.input-group-addon{
    background-color: #517328;
}

.d-flex{
    display: flex!important;
    margin-top: 30px;
    margin-left: 400px;
}
.ch{
    margin-top: 10px;
    margin-left: 10px;
}
.brown-background {
    background-color: #5a3715;
    height: 60px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 16px;
    padding-bottom: 16px;
    margin-bottom: 0px;
    
}
.navbar-expand-md { 
    flex-flow: row nowrap;
    justify-content: flex-start;
}
