
<!---------------------background+titre+text------------------------->
<div class="content-container">
    <div class="background  " >
      <div class="container pt-3">
        <div class="h1 font-weight-bold font-green3 text-center mt-4 mb-5"><h1><b>Blog</b></h1></div>
        <div class="h3 font-weight-bold brown mt-md-5 mb-3 ml-xl-5 text-center pt-5 pb-5" ><b>La page Blog est en cours d'implémentation</b></div>  
      </div>
    </div>
</div>
 <!-------------------------bg+zone de text ----------------------------->
 <div class="bg-newsletter newsletter-height" >
    <div class="container">
     <div class="row d-flex justify-content-center"style=" margin-top: 50px;">
         <div class=" col ">
             <div class="h5 d-flex justify-content-start">
               <b>ABONNEZ-VOUS A NOTRE NEWSLETTER</b>
             </div>
             <div class="input-group ">
                 <input type="text" placeholder="Adresse Mail" class="form-control bg-newsletter border border-dark">
                 <div class="row justify-content-end ml-md-2"style="width: 800px;">
                     <button class="green3 ml-3 text-white cursor-pointer"style="height: 40px;width: 182px;">
                         <div class="send h6 mt-2 mb-2 mr-lg-5 ml-lg-5 mr-md-4 ml-md-4 mr-sm-2 ml-sm-2">Envoyer</div>
                     </button>
                 </div>
             </div>
             <div class="form-check">
                 <input type="checkbox" value id="flexCheckDefault" class="form-check-input">
                 <label class="form-check-label mb-5">
                     <p class="silver-color small-txt">
                        J’accepte de recevoir les offres promotionnelles de www.herbabio.tn 
                        <br>
                        je pourrais m'en désincrire à tout moment par simple demande par mail à herbabio.tunisie@gmail.com 
                     </p>
                 </label>
             </div> 
         </div>
     </div>
    </div>
 </div>