.background {
    background-image: url(https://res.cloudinary.com/http-next-ioc-tn/image/upload/f_auto/v1630055234/page-header_swig9b.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 100%;

    height: 600px;
    
  }
  .font-green3 {
    color: #517328;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 60px;

  }
  .h3{
    color: #5a3715;
    
    margin-top: 150px;

  }

.bg-newsletter {
    background-color: #e6e3df;
    position: relative;
    
    height: 250px;

}

.justify-content-center {
    justify-content: center!important;
}
.d-flex {
    display: flex!important;
}
.form-control{
    
    height: 38px;
    width: 482px;
    border-color: black;

}
.ml-md-2, .mx-md-2 {
    margin-left: .5rem!important;
}
.green3 {
    background-color: #517328;
}
.text-white {
    color: #fff!important;
}
.ml-3, .mx-3 {
    margin-left: 1rem!important;
}
.small-txt {
    font-size: 11px;
}
.silver-color {
    color: #6e6e6e;
}
.mb-5, .my-5 {
    margin-bottom: 3rem!important;
}



