.background {
    background-image: url(https://res.cloudinary.com/http-next-ioc-tn/image/upload/f_auto/v1630055234/page-header_swig9b.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 100%;

    height: 500px;
    
}
.bg-light-color {
    background-color: #f6f6f6;
}
  .font-green3 {
    color: #517328;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 60px;
 
}

.text-center {
    text-align: center!important;
}
.d-inline-block {
    display: inline-block!important;
}
.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
}


.border {
    border: 1px solid #dee2e6!important;
}
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: initial;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    border-color: #343a40!important;
}
.bg-newsletter {
    background-color: #e6e3df;
    position: relative;
    
    height: 250px;

}

.justify-content-center {
    justify-content: center!important;
}
.d-flex {
    display: flex!important;
}
.form-control{
    
    height: 38px;
    width: 482px;


}
.border-dark {
    border-color: #343a40!important;
}

.ml-md-2, .mx-md-2 {
    margin-left: .5rem!important;
}
.green3 {
    background-color: #517328;
}
.text-white {
    color: #fff!important;
}
.ml-3, .mx-3 {
    margin-left: 1rem!important;
}
.small-txt {
    font-size: 11px;
}
.silver-color {
    color: #6e6e6e;
}
.mb-5, .my-5 {
    margin-bottom: 3rem!important;
}
