<!---------------------background+titre+card------------------------->
<div class="content-container bg-light-color" style="height: 1130px;">
    <div class="background " >
      <div class="container pt-3">
        <div class="h1 font-weight-bold font-green3 text-center mt-4 mb-5"><h1><b>E-Boutique</b></h1></div>
        <div class="row " style="width: 900px;height: 770px;margin-left: 80px;margin-right: 30px; margin-top: 50px;">
            <div class="col-sm-6" style="margin-bottom: 24px;">
              <div class="card border border-dark">
                <div class="card-body d-inline-block text-center"style="padding-top: 20px;padding-bottom: 20px;height: 274px;padding-left: 20px;padding-right: 20px;">
                  <h4 class="card-title font-green3 text-center " style="margin-top: 20px;" >Livraison Sous 72 H</h4>
                  <div class="text-center">
                  <img src="assets/truck.png" >
                  </div>
                  <br>
                   <small class="text-center"><p class="card-text">Herbabio vous offre, dès 60dt d’achat, une livraison gratuite à domicile sur tout le territoire Tunisien.</p></small>
                  <br>
                </div>
              </div>
            </div>
            <div class="col-sm-6" style="margin-bottom: 24px;">
              <div class="card border border-dark">
                <div class="card-body d-inline-block text-center"style="padding-top: 20px;padding-bottom: 20px;height: 274px;padding-left: 20px;padding-right: 20px;">
                  <h4 class="card-title font-green3 text-center "style="margin-top: 20px;">Cadeaux Surprises</h4>
                  <div class="text-center">
                  <img src="assets/wallet.png"width="auto"height="80" >
                  </div>
                  <br>
                   <small class="text-center"><p class="card-text">Pour vous remercier de votre commande, Herbabio vous offre des petits cadeaux .</p></small>
                  <br>
                </div>
              </div>
            </div>
         
            <div class="col-sm-6"style="margin-bottom: 24px;">
              <div class="card border border-dark">
                <div class="card-body d-inline-block text-center"style="padding-top: 20px;padding-bottom: 20px;height: 274px;padding-left: 20px;padding-right: 20px;">
                  <h4 class="card-title font-green3 text-center "style="margin-top: 20px;">Emballage Cadeau Offert</h4>
                  <div class="text-center">
                  <img src="assets/gift.png" >
                  </div>
                  <br>
                   <small class="text-center"><p class="card-text">Pour que vos cadeaux soient encore plus magnefique, Herbabio les livres dans des emballages cadeaux .</p></small>
                  <br>
                </div>
              </div>
            </div>
            <div class="col-sm-6"style="margin-bottom: 24px;">
              <div class="card border border-dark">
                <div class="card-body d-inline-block text-center"style="padding-top: 20px;padding-bottom: 20px;height: 274px;padding-left: 20px;padding-right: 20px;">
                  <h4 class="card-title font-green3 text-center "style="margin-top: 20px;">Retours Faciles</h4>
                  <div class="text-center">
                  <img src="assets/arrow-back.png"width="auto"height="80" >
                  </div>
                  <br>
                   <small class="text-center"><p class="card-text">Avec Herbabio , vous pouvez échanger ou retourner votre produit en toute simplicité.</p></small>
                  <br>
                </div>
              </div>
            </div>
            
            <div class="col-sm-6" style="margin-bottom: 24px;">
                <div class="card border border-dark">
                  <div class="card-body d-inline-block text-center"style="padding-top: 20px;padding-bottom: 20px;height: 274px;padding-left: 20px;padding-right: 20px;">
                    <h4 class="card-title font-green3 text-center "style="margin-top: 20px;">Paiement Sécurisé</h4>
                    <div class="text-center">
                    <img src="assets/locked.png" >
                    </div>
                    <br>
                     <small class="text-center"><p class="card-text">Le paiement sera sécurisé et confidentiel.</p></small>
                    <br>
                  </div>
                </div>
            </div>
            
          </div>   
      </div>
    </div>
</div>
<!-------------------------bg+zone de text ----------------------------->
<div class="bg-newsletter newsletter-height" >
    <div class="container">
     <div class="row d-flex justify-content-center"style=" margin-top: 50px;">
         <div class=" col ">
             <div class="h5 d-flex justify-content-start">
               <b>ABONNEZ-VOUS A NOTRE NEWSLETTER</b>
             </div>
             <div class="input-group ">
                 <input type="text" placeholder="Adresse Mail" class="form-control bg-newsletter border border-dark">
                 <div class="row justify-content-end ml-md-2"style="width: 800px;">
                     <button class="green3 ml-3 text-white cursor-pointer"style="height: 40px;width: 182px;">
                         <div class="send h6 mt-2 mb-2 mr-lg-5 ml-lg-5 mr-md-4 ml-md-4 mr-sm-2 ml-sm-2">Envoyer</div>
                     </button>
                 </div>
             </div>
             <div class="form-check">
                 <input type="checkbox" value id="flexCheckDefault" class="form-check-input">
                 <label class="form-check-label mb-5">
                     <p class="silver-color small-txt">
                        J’accepte de recevoir les offres promotionnelles de www.herbabio.tn 
                        <br>
                        je pourrais m'en désincrire à tout moment par simple demande par mail à herbabio.tunisie@gmail.com 
                     </p>
                 </label>
             </div> 
         </div>
     </div>
    </div>
 </div>