<!---------------------background+titre+card------------------------->
<div class="content-container bg-light-color" style="height: 1130px;">
    <div class="background " >
      <div class="container pt-3"style=" width: 1081px; height: 912px;">
        <div class="h1 font-weight-bold font-green3 text-center mt-4 mb-5"style="margin-bottom: 48px;"><h1><b>Contact</b></h1></div>
        <div class="row " style="width: 1081px;height: 792px;">
            <div class="col-lg-3 col-xl-4 col-md-8 ml-md-5 ml-lg-5 ml-xl-0" style="left: 0px;width: 270px;margin-left: 48px;height: 489px;">
              <form class="ml-xl-3 ng-untouched ng-pristine ng-valid">
                <div class="form-group">
                  <div class="h3 font-green3 ml-4 ml-md-0"style="margin-top: 9px;height: 28px;margin-bottom: 0px;">Raison Sociale</div>
                  <hr class="green3"style="margin-top: 3px;margin-bottom: 10px;">
                  <div class="d-inline-flex p-0">
                    <img src="assets/msg.svg">
                    <div class="h5 text-dark mb-0" style="margin-left: 30px;height: 19px;margin-top: 8px;width: 180px;">Route Gremda Km 7 Sfax </div>
                  </div>
                </div>
                
                <div class="form-group d-inline-flex p-0">
                  <img src="assets/telephone.svg">
                  <div class="h6 text-dark mb-0" style="margin-left: 30px;">
                    <a href="tel:0021656040075" style="color: #343a40;"> 00216 56 04 00 75</a>
                  </div>
                </div>
                <br>
                <br>
                <div class="form-group d-inline-flex p-0">
                  <img src="assets/phone.svg">
                  <div class="h6 text-dark mb-0" style="margin-left: 30px;">
                    <a href="tel:0021656040075" style="color: #343a40;"> 00216 56 04 00 75</a>
                  </div>
                </div>
                <br>
                

                <div class="form-group d-inline-flex p-0">
                  <img src="assets/clock.svg">
                  <div class="h5 text-dark mb-0" style="margin-left: 30px;">
                    <br>
                    Lundi-Samedi:
                    <br>
                    de 8:00h à 12:00h et de
                    <br>
                    14:00h à 18:00h
                    <br>
                    Dimanche: Fermé
                  </div>
                </div>
                <br>
                

                <div class="h4">Restez connectés </div>
                <div class="form-group d-inline-flex p-0 mt-3">
                  <div class="d-inline-flex ml-5">
                    <a href="https://www.facebook.com/herbabio">
                      <img src="assets/facebook.svg" style=" margin-bottom: 0px; margin-top: -13; "></a>
                    <a href="https://www.instagram.com/herbabio.tn">
                      <img src="assets/instagram.svg" style="margin-bottom: 0px;margin-top: -11;margin-left: 23px"></a>
                  </div>
                </div>
              </form>
            </div>
            <div class="col-lg-6 col-xl-7 col-md-8 ml-md-5 ml-lg-0" style="left: 0px; height: 489px;">
              <form class="form2">
                <div class="form-group">
                  <div class="h4">Avez-vous des questions ?</div>
                </div>

                <div class="form-group">
                  <input type="text" name="np" placeholder="Nom,prénom" class=" form-control input-background"
                    style="background-color:#dedede; width: 650px; ">
                  <div class="invalid-feedback" >Ce champ est obligatoire .</div>
                </div>
                <div class="form-group">
                  <input type="number" name="tel" placeholder="Téléphone" class="form-control input-background"
                    style="background-color:#dedede; width: 650px;">
                  <div class="invalid-feedback" >Ce champ est obligatoire .</div>
                </div>
                <div class="form-group">
                  <input type="email" name="email" placeholder="E-mail" class=" form-control input-background"
                    style="background-color:#dedede; width: 650px;">
                  <div class="invalid-feedback" >Ce champ est obligatoire .</div>
                </div>
                <div class="form-group">
                  <textarea name="msg" placeholder="Message" class=" form-control input-background"
                    style="background-color:#dedede; height: 170px ; width: 650px;"></textarea>
                  <div class="invalid-feedback" >Ce champ est obligatoire .</div>
                </div>
                <div class="d-flex justify-content-end mt-4 mb-5">
                  <button type="submit" class="rounded-pill green3 border-white text-white-color text-center"
                    style="background-color:#517328; color:#fff; margin-right: -125;">
                    <div class="h5 mt-2 mr-5 ml-5">Envoyer</div>
                  </button>
                </div>
              </form>
            </div>
            <!----------------------mapscontact-------------------------------->
               
                
                <img src="assets/mapsContact.png" style="width: 970px;margin-top: 10px; margin-left: 20px;height: 350px;">
                
  
      </div>
    </div>
</div>    

