.background {
    background-image: url(https://res.cloudinary.com/http-next-ioc-tn/image/upload/f_auto/v1630055234/page-header_swig9b.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 100%;

    height: 500px;
    
}
.bg-light-color {
    background-color: #f6f6f6;
}
  .font-green3 {
    color: #517328;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 60px;
 
}
.justify-content-center {
    justify-content: center!important;
}
.d-flex {
    display: flex!important;
}
.row {
    left: 100px;
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.col-md-8, .col-md-9 {
    float: left;
}
.form-group {
    margin-bottom: 1rem;
}
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.ml-lg-0, .mx-lg-0 {
    margin-left: 0!important;
}
.green3 {
    background-color: #517328;
}
hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0,0,0,.1);
}
hr {
    box-sizing: initial;
    height: 0;
    overflow: visible;
}
.mb-0, .my-0 {
    margin-bottom: 0!important;
}
.p-0 {
    padding: 0!important;
}
.d-inline-flex {
    display: inline-flex!important;
}
.ml-lg-5, .mx-lg-5 {
    margin-left: 3rem!important;
}
.invalid-feedback {
    display: none;
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: #dc3545;
}
.justify-content-end {

    width: 650px;

    justify-content: flex-end!important;
}
.text-center {
    text-align: center!important;
}
.rounded-pill {
    border-radius: 50rem!important;
}
button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    margin-right: -125;height: 41px;width: 151px;
}


